
  .center-button {
    padding: 10px 20px;
    font-size: 18px;
  }

  .home-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;     
  }
  
  .slogan-text {
    margin-top: 5rem;
    margin-bottom: 20px; 
    text-align: center; 
  }
  
  .start-button-container {
    text-align: center; 
  }  

